HCSWSClient/src/wsdl/localhost_8080/HCSServices/HCSOrchestratorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="ws.hcs.hl7.socraticgrid.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="ws.hcs.hl7.socraticgrid.org" name="HCSOrchestratorService">
<types>
<xsd:schema>
<xsd:import namespace="ws.hcs.hl7.socraticgrid.org" schemaLocation="http://localhost:8080/HCSServices/HCSOrchestratorService?xsd=1"/>
</xsd:schema>
</types>
<message name="applySecurityLabelsFHIRForResourceRelease">
<part name="parameters" element="tns:applySecurityLabelsFHIRForResourceRelease"/>
</message>
<message name="applySecurityLabelsFHIRForResourceReleaseResponse">
<part name="parameters" element="tns:applySecurityLabelsFHIRForResourceReleaseResponse"/>
</message>
<message name="genFHIRConfidentialityLabels">
<part name="parameters" element="tns:genFHIRConfidentialityLabels"/>
</message>
<message name="genFHIRConfidentialityLabelsResponse">
<part name="parameters" element="tns:genFHIRConfidentialityLabelsResponse"/>
</message>
<message name="enforceSecurityLabelPolicy">
<part name="parameters" element="tns:enforceSecurityLabelPolicy"/>
</message>
<message name="enforceSecurityLabelPolicyResponse">
<part name="parameters" element="tns:enforceSecurityLabelPolicyResponse"/>
</message>
<portType name="HCSOrchestrator">
<operation name="applySecurityLabelsFHIRForResourceRelease">
<input wsam:Action="ws.hcs.hl7.socraticgrid.org/HCSOrchestrator/applySecurityLabelsFHIRForResourceReleaseRequest" message="tns:applySecurityLabelsFHIRForResourceRelease"/>
<output wsam:Action="ws.hcs.hl7.socraticgrid.org/HCSOrchestrator/applySecurityLabelsFHIRForResourceReleaseResponse" message="tns:applySecurityLabelsFHIRForResourceReleaseResponse"/>
</operation>
<operation name="genFHIRConfidentialityLabels">
<input wsam:Action="ws.hcs.hl7.socraticgrid.org/HCSOrchestrator/genFHIRConfidentialityLabelsRequest" message="tns:genFHIRConfidentialityLabels"/>
<output wsam:Action="ws.hcs.hl7.socraticgrid.org/HCSOrchestrator/genFHIRConfidentialityLabelsResponse" message="tns:genFHIRConfidentialityLabelsResponse"/>
</operation>
<operation name="enforceSecurityLabelPolicy">
<input wsam:Action="ws.hcs.hl7.socraticgrid.org/HCSOrchestrator/enforceSecurityLabelPolicyRequest" message="tns:enforceSecurityLabelPolicy"/>
<output wsam:Action="ws.hcs.hl7.socraticgrid.org/HCSOrchestrator/enforceSecurityLabelPolicyResponse" message="tns:enforceSecurityLabelPolicyResponse"/>
</operation>
</portType>
<binding name="HCSOrchestratorPortBinding" type="tns:HCSOrchestrator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="applySecurityLabelsFHIRForResourceRelease">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="genFHIRConfidentialityLabels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enforceSecurityLabelPolicy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HCSOrchestratorService">
<port name="HCSOrchestratorPort" binding="tns:HCSOrchestratorPortBinding">
<soap:address location="http://localhost:8080/HCSServices/HCSOrchestratorService"/>
</port>
</service>
</definitions>